# Ігнорувати каталоги Composer
/vendor/

# Ігнорувати файли налаштувань IDE
/.idea/
/.vscode/
/nbproject/

# Ігнорувати тимчасові файли
/tmp/
/temp/
/*.tmp
/*.log
*.swp
*.swo

# Ігнорувати системні файли
.DS_Store
Thumbs.db

# Ігнорувати файли PHPUnit
/phpunit.xml

# Ігнорувати автозавантажувач Composer
composer.lock

# Ігнорувати файли, пов'язані з налагодженням
/.env
/.env.*
/.phpunit.result.cache

# Ігнорувати інші непотрібні файли
*.bak
*.old
*.orig
